#! /bin/sh
# /etc/init.d/ecoduck-install

### BEGIN INIT INFO
# Provides:          ecoduck-install
# Required-Start:    $remote_fs $network openvswitch-switch
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Starts the ecoduck installer
# Description:       Will run the installation script in a screen
### END INIT INFO

# If you want a command to always run, put it here

# Carry out specific functions when asked to by the system
case "$1" in
  start)
    echo "Starting ecoduck payload loader"
    /bin/su -c  "/usr/bin/screen -dmS ecoduck-install -O -l /bin/bash -c \"PATH_TO_SCRIPT -r\""
    ;;
  *)
    echo "Usage: /etc/init.d/ecoduck-install start"
    exit 1
    ;;
esac

exit 0 