#! /bin/sh
# /etc/init.d/ecoduck

### BEGIN INIT INFO
# Provides:          ecoduck
# Required-Start:    $remote_fs $network openvswitch-switch
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Starts the ecoduck payload loader
# Description:       Will run the payload loader script
### END INIT INFO

# If you want a command to always run, put it here



# Carry out specific functions when asked to by the system
case "$1" in
  start)
    echo "Starting ecoduck payload loader"
    /bin/su -c  "/usr/bin/screen -dmS ecoduck -O -l /bin/bash -c 'echo \"Sleeping to allow device to start\" && sleep 3 && /usr/bin/python3 /usr/ecoduck/load-payloads.py || read -n 1 -s -r -p Press\ any\ key\ to\ continue' "
    ;;
  stop)
    echo "Stopping ecoduck payload loader"
    killall python3
    screen -X -S ecoduck kill
    ;;
  restart)
    echo "Stopping ecoduck payload loader"
    killall python3
    screen -X -S ecoduck kill
    /bin/su -c  "/usr/bin/screen -dmS ecoduck -O -l /bin/bash -c 'echo \"Sleeping to allow device to start\" && sleep 3 && /usr/bin/python3 /usr/ecoduck/load-payloads.py || read -n 1 -s -r -p Press\ any\ key\ to\ continue' "
    ;;
  screen)
    echo "Opening screen for payload loader"
    screen -r ecoduck
    ;;
  *)
    echo "Usage: /etc/init.d/ecoduck-init {start|stop|restart|screen|status}"
    exit 1
    ;;
esac

exit 0 