ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=GB

network={
	ssid="Apollospot"
        scan_ssid=1
	psk="hotspotpassword"
	id_str="hotspot"
}

network={
        ssid="ASK4 Wireless"
        key_mgmt=NONE
        id_str="home"
}

network={
        ssid="_TheCloud"
        key_mgmt=NONE
        id_str="uni"
}

network={
        ssid="_The Cloud"
        key_mgmt=NONE
        id_str="uni2"
}